{% extends "model-page.html" %}

{% block content %}

<div class="container mt-2">
  <h2>Evento</h2>
</div>
<form action="submit" method="post"> {% csrf_token %}
  <div class="container">
    <div >
      <label>Titulo:</label>
      <input type="number" name="id_evento" value="{{ evento.id }}" hidden>
      <br>
      <input type="text" name="titulo" class="col-4" placeholder="Titulo do Evento" value="{{evento.titulo}}">
    </div>
    <div class="mt-2">
      <label>Data do Evento:</label>
      <br>
      <input type="datetime-local" name="data_evento" class="col-4" value="{{evento.get_data_input_evento}}">
    </div>
    <div class="mt-2">
      <label>Descrição:</label>
      <br>
        <textarea name="descricao" class="col-4" rows="4" placeholder="Descrição do Evento">{{evento.descricao}}</textarea>
    </div>
    <div>
      <button type="submit" class="btn btn-dark">Salvar</button>
      <a href="/">
        <button type="button" class="btn btn-dark">Cancelar</button>
      </a>
    </div>
    <div class="container mt-5">
      {% for message in messages  %}
      <strong>Erro: </strong> {{ message }}
      {% endfor %}
    </div>
  </div>
</form>

{% endblock %}